.main-header {
  --box-shadow: 0 6px 6px rgba(0, 0, 0, 0.026);
}

.main-header {
  background: var(--elements-color);
  color: var(--text);
  padding: 1rem 0;
  box-shadow: var(--box-shadow);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .heading {
    font-size: 1rem;
  }

  // start theme toggler
  .theme-toggler {
    display: none;
  }
  .theme-toggler__label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .dark-theme-option,
  .light-theme-option {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    svg {
      margin-right: 0.3rem;
    }
  }
  .light-theme-option {
    display: none;
  }
  .theme-toggler:checked ~ .dark-theme-option {
    display: none;
  }
  .theme-toggler:checked ~ .light-theme-option {
    display: inline-flex;
  }
  // end theme toggler
}
