.main {
  padding: 1rem 0px;
  color: var(--text);
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 3rem;
}
