:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-2: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.dark-theme {
  --text: var(--white);
  --elements-color: var(--dark-blue);
  --BG: var(--very-dark-blue);
}

.light-theme {
  --text: var(--very-dark-blue-2);
  --elements-color: var(--white);
  --input: var(--dark-gray);
  --BG: var(--very-light-gray);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  transition: all 50ms ease-in-out;
}

body,
div {
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1440px;
}

.app {
  background: var(--BG);
  min-height: 100vh;
}

@import "header";
@import "details";
@import "main";
@import "card";
@import "search";
@import "loading";
